<h2>edit article</h2>

<%= form_for @article do|f|%>
	<br>
	   INPUT YOUR COURSE NAME :<%=f.text_field :title %>
	<br>
	INPUT YOUR TEACHER :<%=f.text_area :content%>
	<br>
	IMPUT YOUR TIME : <%=f.text_field :coursetime %>
	<%=f.submit%>
	<%end%>