<h2>todo</h2>

<%=form_tag articles_path,method:"get" do%>
<%=hidden_field_tag :content ,0%>


<%=submit_tag "todo"%>
<% end %>

<%=form_tag articles_path,method:"get" do%>
<%=hidden_field_tag :content,1%>

<%=submit_tag "done"%>
<% end %>


<% @articles.each do|article|%>

	<%=  article.title %>
	<%= link_to "edit article", edit_article_path(article)%>
	<%= link_to "delete article", article_path(article),method:"delete"%>
	
	
	<br>
	<%end%>
	